/***************
 *
 * CHAT ROOM LIST
 *
 ***************/
/*.chatroom-half
            {
                float:              left;
                width:              50%;
            }*/
.chatroom-left
            {
                float:              left;
                width:              60%;
            }
.chatroom-right
            {
                float:              right;
                width:              40%;
            }
.chatroom-left-inside
            {
                background-color:   #C4C4CF;
                border-left:        4px solid #282850;
                padding:            5px;
                margin-right:       5px;
            }
.chatroom-red    { background-color:   #CFC4C4; }
.chatroom-yellow { background-color:   #CFCFC4; }
.chatroom-green  { background-color:   #C4CFC4; }
.chatroom-cyan   { background-color:   #C4CFCF; }
.chatroom-blue   { background-color:   #C4CAD8; }
.chatroom-purple { background-color:   #CFC4CF; }
.chatroom-gray   { background-color:   #C4C4C4; }

.chatroom-numposts
            {
                font-size:  10px;
                float:      right;
                color:      #999;
            }

.chatroom-right-inside
            {
                background-color:   #C1C2C2;
                border-left:        3px solid #87879D;
                padding:            5px;
            }
.chatroom-leftsmal
            {
                float:              left;
                width:              70%;
            }
.chatroom-rightsmal
            {
                float:              right;
                width:              30%;
            }

/***************
 *
 * CHATROOM
 *
 ***************/

.chatmsg
            {
                margin-left:        5px;
                margin-right:       5px;
                margin-bottom:      10px;
            }
.chatmsg-header
            {
                margin-bottom:      10px;
            }
.chatmsg-from
            {
                float:              left;
                width:              50%;
                font-weight:        bold;
            }
.chatmsg-date
            {
                float:              right;
                width:              40%;
                text-align:         right;
            }
.chatmsg-body
            {

            }

.chatmsg-attachments
            {
                font:               11px tahoma, arial, sans-serif;
                color:              #222;
                background-color:   #C4C4CF;
                margin-top:         5px;
            }

.postbox
            {
                margin-top:         10px;
                padding:            5px;
                background-color:   #C4C4CF;
            }
.postbox-to
            {
                margin-bottom:      10px;
            }
.postbox-submit
            {
                float:              right;
            }
.postbox-text
            {
                text-align:         center;
            }
.postbox-textarea
            {
                width:              98%;
                resize:             vertical;
            }

/***************
 *
 * PRIVATE MESSAGE
 *
 ***************/

.msg-rec
            {
                margin-left:        5px;
                margin-right:       5px;
                margin-bottom:      10px;

                border-left:        3px solid #87879D;
            }
.msg-sent
            {
                margin-left:        5px;
                margin-right:       5px;
                margin-bottom:      10px;

                border-right:       3px solid #87879D;
            }
.msg-header
            {
                margin-bottom:      10px;
            }
.msg-from
            {
                float:              left;
                width:              50%;
                font-weight:        bold;
            }
.msg-date
            {
                float:              right;
                width:              40%;
                text-align:         right;
            }
.msg-input
            {
                background-color:   #FAFAFA;
                color:              #282850;
                font:               11px arial, sans-serif;
                text-decoration:    none;
                border:             solid 1px #82A6BE;
            }
.msg-newicon
            {
                background-color:   #DD0000;
                color:              #FFFFFF;
                font-size:          10px;
                text-align:         center;
                padding:            0px;
                margin:             0px;
                width:              14px;
                height:             14px;
                float:              right;
                border-radius:      50%;
                display:            none;
            }
.msg-body
            {
            }

.msg-submit {
                text-align:         right;
            }

/***************
 *
 * SEARCH USERS
 *
 ***************/

.users-search-subtitle
            {
                font-size:          13px;
                text-align:         left;
                float:              left;
                width:              20%;
            }
.users-search-subitem
            {
                font-size:          12px;
                text-align:         left;
                float:              left;
                width:              20%;
            }
