/**** GLOBAL ****/
body
            {   background-color:   #0a0a0a;
                font:               15px arial, sans-serif;
                color:              #ffffff;
                text-align:         center;
            }

td
            {   background-color:   #ffffff;
                font:               12px arial, sans-serif;
                color:              #000000;
            }
.mainframe
            {
                margin:             auto;
                border:             solid 1px #666666;
                text-align:         left;
                width:              700px;
                background-color:   #ffffff;
                color:              #000000;
                font-size:          12px;
            }
.maintitle
            {
                background-color:   #282850;
                color:              #EAF5FF;
                font-size:          25px;
                text-align:         center;
                font-weight:        bold;
                padding:            5px;
            }
.mainmenu, a .menuitem, a .menuitem:visited, a .menuitem:link, a .menuitem:active
            {
                background-color:   #C2C2FF;
                font-size:          11px;
                font-weight:        bold;
                color:              #282850;
            }
.menuitem
            {
                text-align:         center;
                float:              left;
                width:              80px;
                padding:            4px;
            }
.menuitem:hover, a .menuitem:active
            {
                background-color:   #82A6BE;
            }
.menulogin
            {
                text-align:         right;
                float:              right;
                padding:            3px;
            }
.logininput, .loginbutton
            {   background-color:   #EAF5FF;
                color:              #282850;
                font-size:          11px;
                border:             solid 1px #82A6BE;
                padding:            0px;
                padding-left:       2px;
                padding-right:      2px;
                margin:             0px;
            }
.loginbutton
            {
                padding-left:       6px;
                padding-right:      6px;
            }
.mainbody
            {
                padding:            5px;
            }

.mainfooter
            {
                background-color:   #282850;
                color:              #EAF5FF;
                font-size:          11px;
                font-weight:        bold;
                padding:            3px;
            }

/**** SHARED ****/
#nextSetOfContent
            {
                clear: both;
            }

.textframe
            {
                background-color:   #E7EDED;
                color:              #282850;
                margin-bottom:      3px;
                border-left:        4px solid #E7EDED;
                border-right:       4px solid #E7EDED;
                padding:            5px;
                padding-left:       2px;
                padding-right:      2px;
            }
.textframe-title
            {
                font-size:          16px;
                color:              #FFFFFF;
                font-weight:        bold;
                text-align:         center;
                background-color:   #87879D;

                margin-bottom:      20px;
                padding:            5px;
            }
.textframe-subtitle
            {
                font-size:          14px;
                color:              #F2F5F5;
                font-weight:        bold;
                text-align:         center;
                background-color:   #87879D;

                margin:             0px;
            }
.textframe-inside
            {
                background-color:   #D5D8D8;
                color:              #282850;
                padding:            3px;
                margin-bottom:         5px;
            }
.textframe-item
            {
                background-color:   #D5D8D8;
                border-left:        3px solid #87879D;
                color:              #282850;
                margin-top:         5px;
                padding:            3px;
            }
.textframe-ivar
            {
                font-size:          13px;
                color:              #282850;
                font-weight:        bold;
                vertical-align:     middle;
                float:              left;
                width:              20%;
            }
.textframe-ival
            {
                color:              #282850;
                float:              left;
                width:              40%;
            }
.textframe-footer
            {
                margin-top:         10px;
                text-align:         center;
            }
.panelframe
            {
                background-color:   #C2C2FF;
                padding:            5px;
                margin-bottom:      10px;
            }
.panelframe-item
            {
                background-color:   #E7EDED;
                margin-bottom:      5px;
                padding:            5px;
                border-left:        solid 2px #282850;
            }
.panelframe-item-title
            {
                font-size:          13px;
                color:              #282850;
                font-weight:        bold;
                background-color:   #D5D8D8;
                padding:            3px;
                margin-bottom:      10px;
            }
.panelframe-item-body
            {
                color:              #282850;
                font-size:          12px;
                padding-bottom:     10px;
            }
.panelframe-input
            {
                background-color:   #FAFAFA;
                color:              #282850;
                font:               11px arial, sans-serif;
                border:             solid 1px #82A6BE;
                padding:            0px;
                padding-left:       2px;
                padding-right:      2px;
                margin:             2px;
            }
.panelframe-button
            {
                background-color:   #FAFAFA;
                color:              #282850;
                font:               11px arial, sans-serif;
                border:             solid 1px #82A6BE;
                padding:            0px;
                padding-left:       15px;
                padding-right:      15px;
                margin:             2px;
            }
.panelframe-left
            {
                width:              65%;
                float:              left;
            }
.panelframe-right
            {
                width:              35%;
                float:              right;
            }
.button
            {
                background-color:   #FAFAFA;
                color:              #282850;
                font:               11px arial, sans-serif;
                text-decoration:    none;

                border:             solid 1px #82A6BE;

                padding:            1px;
                padding-left:       15px;
                padding-right:      15px;
                margin:             2px;
            }
.button:hover {
                background-color:   #9EA8B2;
                color:              #FFFFFF;
}
.input
            {
                background-color:   #FAFAFA;
                color:              #282850;
                font:               11px arial, sans-serif;
                text-decoration:    none;

                border:             solid 1px #82A6BE;
                width:              125px;
                padding:            1px;
                margin:             2px;
            }
.input:hover
            {
                background-color:   #FAFAFA;
                border:             solid 1px #0066FF;
                color:              #003D99;
            }
.userlink, .userlink:visited, .userlink:link, .userlink:active
            {
                font-size:          12px;
                font-weight:        bold;
                color:              #282850;
                text-decoration:    none;
            }
.userlink:hover
            {
                color:              #7E7E96;
                text-decoration:    underline;
            }
.stdlink, .stdlink:visited, .stdlink:link, .stdlink:active
            {
                font-size:          12px;
                color:              #002E72;
                font-weight:        bold;
                text-decoration:    none;
            }
.stdlink:hover
            {
                text-decoration:    underline;
            }
.page-link, .page-selected
            {
                font-size:          12px;
                color:              #002E72;
                text-decoration:    none;
            }
.page-link:hover
            {
                text-decoration:    underline;
            }
.page-selected
            {
                font-weight:        bold;
                text-decoration:    underline;
            }

/**** CHAT ROOM LIST ****/
.chatroom-left
            {
                float:              left;
                width:              60%;
            }
.chatroom-right
            {
                float:              right;
                width:              40%;
            }
.chatroom-left-inside
            {
                background-color:   #C4C4CF;;
                border-left:        4px solid #282850;
                padding:            5px;
                margin-right:       5px;
            }
.chatroom-right-inside
            {
                background-color:   #C1C2C2;
                border-left:        3px solid #87879D;
                padding:            5px;
            }
.chatroom-leftsmal
            {
                float:              left;
                width:              70%;
            }
.chatroom-rightsmal
            {
                float:              right;
                width:              30%;
            }

/**** CHAT ROOM ****/
.chatmsg
            {
                margin-left:        5px;
                margin-right:       5px;
                margin-bottom:      10px;
            }
.chatmsg-header
            {
                margin-bottom:      10px;
            }
.chatmsg-from
            {
                float:              left;
                width:              50%;
                font-weight:        bold;
            }
.chatmsg-date
            {
                float:              right;
                width:              40%;
                text-align:         right;
            }
.chatmsg-body
            {
            }

.postbox
            {
                margin-top:         10px;
                padding:            5px;
                background-color:   #C4C4CF;
            }
.postbox-to
            {
                margin-bottom:      10px;
            }
.postbox-submit
            {
                text-align:         right;
            }
.postbox-text
            {
                text-align:         center;
            }
.postbox-textarea
            {
                width:              98%;
                resize:             vertical;
            }

/**** PRIVATE MESSAGES ****/
.msg-rec
            {
                margin-left:        5px;
                margin-right:       5px;
                margin-bottom:      10px;

                border-left:        3px solid #87879D;
            }
.msg-sent
            {
                margin-left:        5px;
                margin-right:       5px;
                margin-bottom:      10px;

                border-right:       3px solid #87879D;
            }
.msg-header
            {
                margin-bottom:      10px;
            }
.msg-from
            {
                float:              left;
                width:              50%;
                font-weight:        bold;
            }
.msg-date
            {
                float:              right;
                width:              40%;
                text-align:         right;
            }
.msg-body
            {
            }

/**** SEARCH USER ****/
.users-search-subtitle
            {
                font-size:          13px;
                text-align:         left;
                float:              left;
                width:              20%;
            }
.users-search-subitem
            {
                font-size:          12px;
                text-align:         left;
                float:              left;
                width:              20%;
            }
