/**** GLOBAL ****/
body
            {   background-color:   #0a0a0a;
                font:               15px arial, sans-serif;
                color:              #ffffff;
            }
                
td
            {   background-color:   #ffffff;
                font:               12px arial, sans-serif;
                color:              #000000;
            }

.mainframe
            {
                border:             solid 1px #666666;
                text-align:         left;
            }

.bodyframe
            {
                padding:            5px;
            }
.title
            {
                background-color:   #282850;
                color:              #EAF5FF;
                font:               25px arial, sans-serif;
            }
.footer
            {
                background-color:   #282850;
                color:              #EAF5FF;
                font:               11px arial, sans-serif;
            }

/**** SHARED ****/
#nextSetOfContent
            {
                clear: both;
            }

.textframe
            {
                background-color:   #E7EDED;
             
                width:              100%;
                
                margin-bottom:      3px;
                border-left:        4px solid #E7EDED;
                border-right:       4px solid #E7EDED;
                padding:            2px;
            }
.textframe-inside
            {
                background-color:   #D5D8D8;
                
                padding:            5px;
            }
.panelframe
            {
                width:              35%;
                background-color:   #C2C2FF;
                padding:            5px;
                float:              right;
            }
.panelframe-item
            {   
                background-color:   #E7EDED;
                margin-bottom:      10px;
                padding:            5px;
                border-left:        solid 2px #282850;
            }
.panelframe-item-title
            {
                background-color:   #D5D8D8;
                padding:            3px;
                margin-bottom:      10px;
            }
.panelframe-input
            {
                background-color:   #FAFAFA;
                color:              #282850;
                font:               11px arial, sans-serif;
                border:             solid 1px #82A6BE;
                padding:            0px;
                padding-left:       2px;
                padding-right:      2px;
                margin:             2px;
            }
.panelframe-button
            {
                background-color:   #FAFAFA;
                color:              #282850;
                font:               11px arial, sans-serif;
                border:             solid 1px #82A6BE;
                padding:            0px;
                padding-left:       15px;
                padding-right:      15px;
                margin:             2px;
            }

/**** MENU BAR ****/
.menuitem, .login
            {
                background-color:   #C2C2FF;
                font:               11px arial, sans-serif;
                color:              #282850;
            }
.menuitem a:visited, .menuitem a:link, .menuitem a:active
            {
                font:               11px arial, sans-serif;
                color:              #282850;
                text-decoration:    none;
            }
.menuitem:hover
            {   
                background-color:   #82A6BE;
            }

.logininput
            {   background-color:   #EAF5FF;
                color:              #282850;
                font:               11px arial, sans-serif;
                border:             solid 1px #82A6BE;
                padding:            0px;
                padding-left:       2px;
                padding-right:      2px;
                margin:             2px;
            }
.loginbutton
            {   background-color:   #EAF5FF;
                color:              #282850;
                font:               11px arial, sans-serif;
                border:             solid 1px #82A6BE;
                margin:             2px;
            }

/**** CHAT ROOMS ****/
.chatroom
            {
                background-color:   #E7EDED;
                padding:            2px;
                margin-top:         7px;
                margin-bottom:      7px;
                
                border-left:        4px solid #282850;
            }          
.chatroom-left
            {
                background-color:   #D5D8D8;
                float:              left;
                width:              60%;
            }
.chatroom-right
            {   
                background-color:   #C4C4CF;
                border-left:        3px solid #87879D;
                float:              right;
                width:              39%;
            }
.chatroom-title, .chatroom-user, .chatroom-date, .chatroom-lastpostby, .chatroom-lastpost
            {
                margin: 3px;
            }
.chatroom-title
            {
                font-weight:        bold;
            }
.chatroom-user
            {
                float:              left;
                width:              55%;
            }
.chatroom-date
            {   
                float:              right;
                width:              35%;
            }
            
.chatmsg
            {   

            }
.chatmsg-inside
            {   

            }
.chatmsg-from
            { 
                float:              left;
                width:              55%;
                font-weight:        bold;
            }
.chatmsg-date
            {
                float:              right;
                width:              35%;
            }
.chatmsg-body
            {   
                
            }

.chathead
            {
                background-color:   #C2C2FF;
                width:              100%;
                text-align:         center;
                
                border-top:         4px solid #282850;
            }
.chathead-title
            {
                padding-top:        8px;
                font-weight:        bold;
            }
.chathead-theme
            {
                padding-top:        8px;
                padding-bottom:     8px;
            }
.chatroom-posts
            {
                float:              left;
                width:              60%;
            }


.chatpanel
            {

            }
.chatpanel-rate, .chatpanel-ulist, .chatpanel-close, .chatpanel-edit
            {
            
            }
.chatpanel-rate-title, .chatpanel-ulist-title, .chatpanel-close-title, .chatpanel-ulist-addtitle, .chatpanel-edit-title
            {
            
            }
.chatpanel-ulist-addtitle
            {
                margin-top:         20px;
            }
.chatpanel-ulist-addinput, .chatpanel-ulist-addbutton, .chatpanel-close-button, .chatpanel-edit-addinput, .chatpanel-edit-addbutton, .chatpanel-edit-addinput, .chatpanel-edit-addbutton
            {

            }
.chatpanel-ulist-addbutton, .chatpanel-close-button
            {

            }

.searchbox
            {   
                width:              inherit;
            }
.searchbox-inside
            {
            }

.postbox
            {   
            }          
.postbox-inside
            {   
                background-color:   #C4C4CF;

            }
.postbox-submit
            {
                text-align:         right;
            }
.postbox-text
            {
                text-align:         center;
            }
.postbox-text-area
            {
                width:              95%;
                resize:             vertical;
            }


/**** PRIVATE MESSAGES ****/
.messagebox
            {
                float:              left;
                width:              60%;
            }

.msgrec
            {   
                background-color:   #CFF0CF;
                
                border-left:        4px solid #192719;
                border-right:       4px solid #CFF0CF;
            }
.msgrec-inside
            {   
                 background-color:   #C2DAC2;
            }
.msgrec-from
            {   
                float:              left;
                width:              55%;
            }
.msgrec-date
            {   
                float:              right;
                width:              35%;
            }
.msgrec-body
            {   
            }

.msgsnt
            {   
                background-color:   #FFFFA0;
                
                border-left:        4px solid #FFFFA0;
                border-right:       4px solid #806600;
            }
.msgsnt-inside
            {   
                 background-color:   #FFFFB8;
            }
.msgsnt-from
            {   
                float:              left;
                width:              55%;
            }
.msgsnt-date
            {   
                float:              right;
                width:              35%;
            }
.msgsnt-body
            {   
            }
.msgpanel
            {
            }
.msgpanel-filter
            {   
            }
.msgpanel-filter-title
            {
            }
.msgpanel-filter-div-search, .msgpanel-filter-div-button
            {
            }


/**** PROFILE ****/
.profile-profile-main
            {
                width:              inherit;
            }
.profile-profile-user
            {
                border-left:        4px solid #282850;
                text-align:         center;
            }
.profile-profile-div
            {   
                border-left:        3px solid #87879D;
                
                margin-top:         5px;
                margin-bottom:      5px;
                padding-left:       5px;
                padding-right:      5px;
            }
.profile-profile-var
            {
                float:              left;
                width:              20%;
            }

.profile-profile-val
            {
                float:              left;
                width:              40%;
            }
            
.profile-profile-edit
            {
                text-align:         right;
                
                float:              right;
                width:              30%;
            }
.profile-search-div
            {   
                text-align:         left;
                vertical-align:     middle;
                border-left:        3px solid #87879D;
                
                margin:             5px;
                padding:            0px;
                padding-left:       5px;
            }
.profile-search-var
            {
                vertical-align:     middle;
                float:              left;
                width:              20%;
            }
.profile-search-tit
            {   
                border-left:        3px solid #000000;
                background-color:   #AAAAAA;
                margin-top:         5px;
                margin-bottom:      5px;
                padding-left:       5px;
                padding-right:      5px;
                font-weight:        bold;
            }
.profile-search-res
            {   
                border-left:        3px solid #87879D;
                margin-top:         5px;
                margin-bottom:      5px;
                padding-left:       5px;
                padding-right:      5px;
            }













